.cart {

    // .cart_icon

    &_icon {
        display: flex;
        width: clamp(20px, 20px + 0.0035714286*(100vw - 320px), 24px);

        path,
        circle {
            stroke: var(--color-darkBlue);
            transition: stroke 0.3s ease;
        }

        @media (hover:hover) {
            &:hover {

                path,
                circle {
                    stroke: var(--accent-orange);
                }
            }
        }

        @media (hover:none) {
            &:active {

                path,
                circle {
                    stroke: var(--accent-orange);
                }
            }
        }
    }

    // .cart__body

    &__body {}

    // .cart__list

    &__list {}
}