.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    // .features__item

    @include lg {
        @include clamp (padding-left, 50px, 100px, 768px, 991.98px);
        @include clamp (padding-right, 50px, 100px, 768px, 991.98px);
    }

    @include md {
        display: grid;
        grid-template-columns: repeat(auto-fit, 255px);
        justify-content: space-around;
        row-gap: 35px;
        padding: 0;
    }

    @include sm {
        grid-template-columns: repeat(auto-fit, 210px);
        row-gap: 25px;
    }

    @include x-sm {
        row-gap: 20px;
        grid-template-columns: repeat(1, auto);
    }



    &__item {
        display: flex;
        align-items: center;
        @include clamp (gap, 15px, 24px, 320px, 1440px);
        padding: 16px 0 16px 22px;

        @include lg {
            min-width: 280px;
        }

        svg {
            width: 40px;
            height: 40px;
            fill: var(--bg-color-darkGray);
        }

        @include md {
            min-width: max-content;
            padding: 0;
        }

        @include sm {
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }

        @include x-sm {
            flex-direction: row;
            text-align: left;
            gap: 20px;
        }
    }

    // .features__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    // .features__title

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: var(--text-color-darkGray);
    }
}