.header {
	width: 100%;

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		position: fixed;
		z-index: 50;
		@include clamp (height, 80px, 125px, 320px, 1440px);

		transition: all 0.3s ease-in-out;


		&._scrolled {
			background: rgba(255, 255, 255, 0.98);
			@include clamp (height, 60px, 80px, 320px, 1440px);
		}
	}

	// .header__logo

	&__logo {
		z-index: 5;
		@include clamp (margin-right, 25px, 41px, 768px, 991.98px)
	}

	// .header__search

	&__search {
		flex: 1 1 auto;
		@include clamp (margin-right, 15px, 32px, 320px, 1440px);
		z-index: 5;

		@include lg {
			flex: none;
			margin-left: auto;
		}
	}

	&__btn-open {
		@include clamp (margin-left, 15px, 32px, 320px, 1440px);
	}
}