.products {

    // .products__title

    &__title {
        text-align: center;
    }

    // .products__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-template-rows: auto;

        @include clamp (gap, 15px, 40px, 320px, 1440px);
        @include clamp (margin-top, 20px, 32px, 320px, 1440px);
        @include clamp (margin-bottom, 20px, 32px, 320px, 1440px);

        @include md {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }

        @include sm {
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        }
    }

    // .products__card

    &__card {}

    &__btn-more {
        display: block;
        border: 2px solid var(--bg-color-accent-orange);
        max-width: 245px;
        margin: 0 auto;
        width: 100%;
        padding: 12px 0;
        color: var(--text-color-accentOrange);

        @media (hover:hover) {
            &:hover {
                border: 2px solid var(--bg-color-white);
                color: var(--text-color-white);
                background-color: var(--bg-color-accent-orange);
            }
        }
    }
}