<section class="section section_blog">
    <div class="container">
        <div class="blog">
            <h2 class="title blog__title">Tips & Tricks</h2>
            <div class="blog__slider blog-slider swiper">
                <div class="blog-slider__slides swiper-wrapper">
                    <div class="blog-slider__slide swiper-slide">
                        <a href="#!" class="blog-slider__img">
                            <img src="../../img/blog/blog-card-01.jpg" alt="Blog image" width="391" height="251" loading="lazy" />
                        </a>
                        <div class="blog-slider__info card-info">
                            <h4 class="blog-slider__title card-info__title">
                                How to create a living <br />
                                room to love
                            </h4>
                            <p class="blog-slider__date">20 jan 2020</p>
                        </div>
                    </div>
                    <div class="blog-slider__slide swiper-slide">
                        <a href="#!" class="blog-slider__img">
                            <img src="../../img/blog/blog-card-02.jpg" alt="Blog image" width="391" height="251" loading="lazy" />
                        </a>
                        <div class="blog-slider__info card-info">
                            <h4 class="blog-slider__title card-info__title">
                                Solution for clean look working space
                            </h4>
                            <p class="blog-slider__date">10 jan 2020</p>
                        </div>
                    </div>
                    <div class="blog-slider__slide swiper-slide">
                        <a href="#!" class="blog-slider__img">
                            <img src="../../img/blog/blog-card-03.jpg" alt="Blog image" width="391" height="251" loading="lazy" />
                        </a>
                        <div class="blog-slider__info card-info">
                            <h4 class="blog-slider__title card-info__title">
                                Make your cooking activity more fun
                            </h4>
                            <p class="blog-slider__date">
                                20 jan 2020
                            </p>
                        </div>
                    </div>
                    <div class="blog-slider__slide swiper-slide">
                        <a href="#!" class="blog-slider__img">
                            <img src="../../img/blog/blog-card-04.jpg" alt="Blog image" width="391" height="251" loading="lazy" />
                        </a>
                        <div class="blog-slider__info card-info">
                            <h4 class="blog-slider__title card-info__title">
                                Kitchen convenience and organization
                            </h4>
                            <p class="blog-slider__date">29 jan 2020</p>
                        </div>
                    </div>
                </div>
                <div class="blog-slider__arrows">
                    <button type="button" class="slider-arrow blog-slider__arrow blog-slider__arrow_prev" aria-label="Previous image">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                        </svg>
                    </button>
                    <button type="button" class="slider-arrow blog-slider__arrow blog-slider__arrow_next" aria-label="Next image">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                        </svg>
                    </button>
                </div>
                <div class="blog-slider__dots"></div>
            </div>
        </div>
    </div>
</section>
