<section class="section section_features">
    <div class="container">
        <div class="features">
            <div data-aos="fade-right" data-aos-duration="700" class="features__item">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#features-01-icon"></use>
                </svg>
                <div class="features__text">
                    <div class="features__title">High Quality</div>
                    <p class="features__subtitle text-md">Crafted from top materials</p>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="700" class="features__item">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#features-02-icon"></use>
                </svg>
                <div class="features__text">
                    <div class="features__title">Warrany Protection</div>
                    <p class="features__subtitle text-md">Over 2 years</p>
                </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="700" class="features__item">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#features-03-icon"></use>
                </svg>
                <div class="features__text">
                    <div class="features__title">Free Shipping</div>
                    <p class="features__subtitle text-md">Order over 150 $</p>
                </div>
            </div>
            <div  class="features__item">
                <svg>
                    <use href="./img/svgsprite/sprite.symbol.svg#features-04-icon"></use>
                </svg>
                <div class="features__text">
                    <div class="features__title">24 / 7 Support</div>
                    <p class="features__subtitle text-md">Dedicated support</p>
                </div>
            </div>
        </div>
    </div>
</section>
