<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__main">
                <a href="#!" class="footer__logo logo">Funiro.</a>
                <p class="footer__description">
                    Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
                </p>
                <a href="#!" class="footer__location">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M10.974 18.5413C13.0898 17.0976 17.9167 13.3048 17.9167 8.74992C17.9167 4.37766 14.3723 0.833252 10 0.833252C5.62775 0.833252 2.08333 4.37766 2.08333 8.74992C2.08333 13.3048 6.91025 17.0976 9.02596 18.5413C9.61759 18.945 10.3824 18.945 10.974 18.5413ZM10 11.2499C11.3807 11.2499 12.5 10.1306 12.5 8.74992C12.5 7.36921 11.3807 6.24992 10 6.24992C8.61929 6.24992 7.5 7.36921 7.5 8.74992C7.5 10.1306 8.61929 11.2499 10 11.2499Z"
                        />
                    </svg>
                    Sawojajar Malang, Indonesia
                </a>
                <a href="tel:+6289 456 3455" class="footer__phone">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M13.4307 13.0668L12.9152 13.8401C12.8123 13.9944 12.6762 14.1261 12.4969 14.1735C11.9095 14.3287 10.3499 14.3988 7.9755 12.0244C5.60111 9.65004 5.67119 8.09046 5.82641 7.50302C5.8738 7.32368 6.00549 7.1876 6.15983 7.0847L6.93308 6.5692C7.50878 6.1854 7.66435 5.40757 7.28055 4.83187L5.82014 2.64126C5.48514 2.13876 4.83933 1.94678 4.28423 2.18468L3.62544 2.46702C3.12498 2.6815 2.71674 3.06643 2.47324 3.55343C2.2698 3.96031 2.11213 4.38877 2.09076 4.84317C2.02344 6.27515 2.33743 9.80312 6.26713 13.7328C10.1968 17.6625 13.7248 17.9765 15.1568 17.9092C15.6111 17.8878 16.0396 17.7301 16.4465 17.5267C16.9335 17.2832 17.3184 16.8749 17.5329 16.3745L17.8152 15.7157C18.0531 15.1606 17.8612 14.5148 17.3587 14.1798L15.168 12.7194C14.5923 12.3356 13.8145 12.4911 13.4307 13.0668Z"
                        />
                    </svg>
                    +6289 456 3455
                </a>
                <a href="https://www.funiro.com.ua" target="_blank" class="footer__site">www.funiro.com.ua</a>
            </div>
            <div class="footer__nav nav-footer">
                <div data-spollers class="nav-footer__column">
                    <button data-spoller class="nav-footer__title">
                        Menu
                        <svg
                            id="arrow"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.8333 7.50012L10 13.3335L4.16668 7.50012"
                                stroke="#3A3A3A"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Products</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Rooms</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Inspirations</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">About Us</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Terms & Policy</a></li>
                    </ul>
                </div>
                <div data-spollers class="nav-footer__column">
                    <button data-spoller class="nav-footer__title">
                        Account
                        <svg
                            id="arrow"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.8333 7.50012L10 13.3335L4.16668 7.50012"
                                stroke="#3A3A3A"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">My Account</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Checkout</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">My Cart</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">My catalog</a></li>
                    </ul>
                </div>
                <div data-spollers class="nav-footer__column">
                    <button data-spoller class="nav-footer__title">
                        Stay Connected
                        <svg
                            id="arrow"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M15.8333 7.50012L10 13.3335L4.16668 7.50012"
                                stroke="#3A3A3A"
                                stroke-width="1.8"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <ul class="nav-footer__list">
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Facebook</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Instagram</a></li>
                        <li class="nav-footer__item"><a href="#!" class="nav-footer__link">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_search-form footer-search">
                <div class="footer-search__title">Stay Updated</div>
                <form action="#" class="footer-search__form">
                    <input type="email" class="footer-search__input" placeholder="Enter your email" />
                    <button type="submit" class="footer-search__btn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.7825 3.21745C20.6813 3.1167 20.5534 3.04695 20.4139 3.01639C20.2744 2.98584 20.1291 2.99574 19.995 3.04495L3.495 9.04495C3.3527 9.09892 3.23019 9.19491 3.14374 9.32016C3.05729 9.44542 3.01099 9.59401 3.01099 9.7462C3.01099 9.89839 3.05729 10.047 3.14374 10.1722C3.23019 10.2975 3.3527 10.3935 3.495 10.4474L9.9375 13.0199L14.6925 8.24995L15.75 9.30745L10.9725 14.0849L13.5525 20.5275C13.6081 20.667 13.7043 20.7866 13.8286 20.8709C13.953 20.9551 14.0998 21.0001 14.25 20.9999C14.4016 20.9968 14.5486 20.9479 14.6718 20.8595C14.795 20.7711 14.8885 20.6475 14.94 20.5049L20.94 4.00495C20.9911 3.87226 21.0034 3.72777 20.9755 3.58834C20.9477 3.44891 20.8807 3.32028 20.7825 3.21745Z"
                            />
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>
