<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <div data-aos="fade-right" data-aos-duration="1000" class="hero__content">
                <h1 class="hero__title title">High-Quality Furniture Just For You</h1>
                <p class="hero__text text-md">
                    Our furniture is made from selected and best quality materials that are suitable for your dream home
                </p>
                <a data-aos="zoom-in" data-aos-delay="400" data-aos-duration="500" href="#!" class="hero__btn btn btn_orange">Shop Now</a>
            </div>
            <div class="hero__slider main-slider swiper">
                <div class="main-slider__nav">
                    <div class="main-slider__dots"></div>
                    <div class="main-slider__arrows">
                        <button type="button" class="slider-arrow main-slider__arrow main-slider__arrow_prev">
                            <svg>
                                <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                            </svg>
                        </button>
                        <button type="button" class="slider-arrow main-slider__arrow main-slider__arrow_next">
                            <svg>
                                <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="main-slider__slides swiper-wrapper">
                    <div class="main-slider__slide swiper-slide">
                        <img src="../../img/main-slider/main-slider-01.jpg" alt="Luxury big sofa 2-seat" class="main-slider__img" width="934" height="553" />
                        <a href="#!" data-swiper-parallax-opacity="0" data-swiper-parallax-x="-100%" class="main-slider__info">
                            <!-- <!-- <a href="#!" class="link-wrapper"></a>  -->
                            <h3 class="main-slider__title">Bohauss</h3>
                            <p class="main-slider__desc text-md">Luxury big sofa 2-seat</p>
                            <div class="main-slider__price">
                                Rp 17.000.000
                                <div href="#!" class="main-slider__link-arrow">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.3652 12.56L14.3852 17.56C14.2252 17.72 14.0251 17.8 13.8251 17.8C13.6251 17.8 13.4251 17.72 13.2652 17.56C12.9451 17.24 12.9451 16.74 13.2652 16.42L16.8852 12.78H5.20515C4.76515 12.78 4.40515 12.42 4.40515 11.98C4.40515 11.54 4.76515 11.18 5.20515 11.18H16.8852L13.2652 7.54004C12.9451 7.22004 12.9451 6.72003 13.2652 6.40003C13.5851 6.08003 14.0852 6.08003 14.4052 6.40003L19.3852 11.4C19.6852 11.74 19.6852 12.26 19.3652 12.56Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="main-slider__slide swiper-slide">
                        <img src="../../img/main-slider/main-slider-02.jpg" alt="Luxury big sofa" class="main-slider__img" width="934" height="553" loading="lazy" />
                        <a href="#!" data-swiper-parallax-opacity="0" data-swiper-parallax-x="-100%" class="main-slider__info">
                            <!-- <!-- <a href="#!" class="link-wrapper"></a>  -->
                            <h3 class="main-slider__title">Lolito</h3>
                            <p class="main-slider__desc text-md">Luxury big sofa</p>
                            <div class="main-slider__price">
                                Rp 7.000.000
                                <div href="#!" class="main-slider__link-arrow">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.3652 12.56L14.3852 17.56C14.2252 17.72 14.0251 17.8 13.8251 17.8C13.6251 17.8 13.4251 17.72 13.2652 17.56C12.9451 17.24 12.9451 16.74 13.2652 16.42L16.8852 12.78H5.20515C4.76515 12.78 4.40515 12.42 4.40515 11.98C4.40515 11.54 4.76515 11.18 5.20515 11.18H16.8852L13.2652 7.54004C12.9451 7.22004 12.9451 6.72003 13.2652 6.40003C13.5851 6.08003 14.0852 6.08003 14.4052 6.40003L19.3852 11.4C19.6852 11.74 19.6852 12.26 19.3652 12.56Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="main-slider__slide swiper-slide">
                        <img src="../../img/main-slider/main-slider-03.jpg" alt="Luxury big sofa" class="main-slider__img" width="934" height="553" loading="lazy" />
                        <a href="#!" data-swiper-parallax-opacity="0" data-swiper-parallax-x="-100%" class="main-slider__info">
                            <!-- <!-- <a href="#!" class="link-wrapper"></a>  -->
                            <h3 class="main-slider__title">Pelino</h3>
                            <p class="main-slider__desc text-md">Luxury big sofa</p>
                            <div class="main-slider__price">
                                Rp 10.000.000
                                <div href="#!" class="main-slider__link-arrow">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.3652 12.56L14.3852 17.56C14.2252 17.72 14.0251 17.8 13.8251 17.8C13.6251 17.8 13.4251 17.72 13.2652 17.56C12.9451 17.24 12.9451 16.74 13.2652 16.42L16.8852 12.78H5.20515C4.76515 12.78 4.40515 12.42 4.40515 11.98C4.40515 11.54 4.76515 11.18 5.20515 11.18H16.8852L13.2652 7.54004C12.9451 7.22004 12.9451 6.72003 13.2652 6.40003C13.5851 6.08003 14.0852 6.08003 14.4052 6.40003L19.3852 11.4C19.6852 11.74 19.6852 12.26 19.3652 12.56Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="main-slider__slide swiper-slide">
                        <img src="../../img/main-slider/main-slider-04.jpg" alt="Luxury big sofa" class="main-slider__img" width="934" height="553" loading="lazy" />
                        <a href="#!" data-swiper-parallax-opacity="0" data-swiper-parallax-x="-100%" class="main-slider__info">
                            <!-- <!-- <a href="#!" class="link-wrapper"></a>  -->
                            <h3 class="main-slider__title">Angagio</h3>
                            <p class="main-slider__desc text-md">Luxury big sofa</p>
                            <div class="main-slider__price">
                                Rp 20.000.000
                                <div href="#!" class="main-slider__link-arrow">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M19.3652 12.56L14.3852 17.56C14.2252 17.72 14.0251 17.8 13.8251 17.8C13.6251 17.8 13.4251 17.72 13.2652 17.56C12.9451 17.24 12.9451 16.74 13.2652 16.42L16.8852 12.78H5.20515C4.76515 12.78 4.40515 12.42 4.40515 11.98C4.40515 11.54 4.76515 11.18 5.20515 11.18H16.8852L13.2652 7.54004C12.9451 7.22004 12.9451 6.72003 13.2652 6.40003C13.5851 6.08003 14.0852 6.08003 14.4052 6.40003L19.3852 11.4C19.6852 11.74 19.6852 12.26 19.3652 12.56Z"
                                            fill="black"
                                        />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a data-aos="zoom-in" data-aos-duration="500" href="#!" class="hero__btn hero__btn_bottom btn btn_orange">Shop Now</a>
        </div>
    </div>
</section>
