<section class="section section_rooms">
    <div class="container">
        <div class="rooms">
            <div class="rooms__content">
                <h2 class="title rooms__title">50+ Beautiful rooms inspiration</h2>
                <p class="text-md rooms__description">
                    Our designer already made a lot of beautiful prototipe of rooms that inspire you
                </p>
                <button class="btn btn_orange rooms__btn rooms__btn_top">Explore More</button>
            </div>
            <div class="rooms__slider rooms-slider swiper">
                <div class="rooms-slider__slides swiper-wrapper">
                    <div class="rooms-slider__slide swiper-slide">
                        <img src="../../img/rooms/room-card-01.jpg" alt="Bed room inner peace" class="rooms-slider__img" width="445" height="582" />
                        <div class="rooms-slider__content" data-swiper-parallax-opacity="0" data-swiper-parallax-y="-50%">
                            <a href="#!" class="card-info rooms-slider__info">
                                <p class="text-md rooms-slider__name">01 <span></span> Bed Room</p>
                                <h3 class="card-info__title rooms-slider__title">Inner Peace</h3>
                            </a>
                            <button class="btn  rooms-slider__btn" aria-label="Go to room details">
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#card-link-arrow-right-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="rooms-slider__slide swiper-slide">
                        <img src="../../img/rooms/room-card-02.jpg" alt="Cozy room with soft lighting" class="rooms-slider__img" width="445" height="582" />
                        <div class="rooms-slider__content" data-swiper-parallax-opacity="0" data-swiper-parallax-y="-50%">
                            <a href="#!" class="card-info rooms-slider__info">
                                <p class="text-md rooms-slider__name">02 <span></span> Cozy Room</p>
                                <h3 class="card-info__title rooms-slider__title">Cozy Nook</h3>
                            </a>
                            <button class="btn rooms-slider__btn" aria-label="Go to room details">
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#card-link-arrow-right-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="rooms-slider__slide swiper-slide">
                        <img src="../../img/rooms/room-card-03.jpg" alt="Office" class="rooms-slider__img" width="445" height="582" />
                        <div class="rooms-slider__content" data-swiper-parallax-opacity="0" data-swiper-parallax-y="-50%">
                            <a href="#!" class="card-info rooms-slider__info">
                                <p class="text-md rooms-slider__name">03 <span></span> Office</p>
                                <h3 class="card-info__title rooms-slider__title">Focus Zone</h3>
                            </a>
                            <button class="btn rooms-slider__btn" aria-label="Go to room details">
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#card-link-arrow-right-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="rooms-slider__slide swiper-slide">
                        <img src="../../img/rooms/room-card-04.jpg" alt="Light Kitchen" class="rooms-slider__img" width="445" height="582" />
                        <div class="rooms-slider__content" data-swiper-parallax-opacity="0" data-swiper-parallax-y="-50%">
                            <a href="#!" class="card-info rooms-slider__info">
                                <p class="text-md rooms-slider__name">04 <span></span> Kitchen</p>
                                <h3 class="card-info__title rooms-slider__title">Culinary</h3>
                            </a>
                            <button class="btn rooms-slider__btn" aria-label="Go to room details">
                                <svg>
                                    <use href="./img/svgsprite/sprite.symbol.svg#card-link-arrow-right-icon"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="rooms-slider__arrows">
                    <button type="button" class="slider-arrow slider-arrow_white rooms-slider__arrow rooms-slider__arrow_prev" aria-label="Previous slide">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                        </svg>
                    </button>
                    <button type="button" class="slider-arrow slider-arrow_white rooms-slider__arrow rooms-slider__arrow_next" aria-label="Next slide">
                        <svg>
                            <use href="./img/svgsprite/sprite.symbol.svg#slider-arrow-icon"></use>
                        </svg>
                    </button>
                </div>
                <div class="rooms-slider__dots"></div>
            </div>
            <button class="btn btn_orange rooms__btn rooms__btn_bottom">Explore More</button>
        </div>
    </div>
</section>
