<section id="share" class="section section_share">
    <div class="share">
        <div class="share__label">Share your setup with</div>
        <h2 class="share__title title">#FuniroFurniture</h2>
        <div class="share__body">
            <div class="share__items">
                <div class="share__column">
                    <div class="share__row share__row_left-top">
                        <a class="share__item" href="../../img/share-gallery/share-gallery-01.jpg">
                            <img src="../../img/share-gallery/share-gallery-01.jpg" alt="Funiro funiture in the client apartments" width="274" height="382" loading="lazy" />
                        </a>
                        <a class="share__item" href="../../img/share-gallery/share-gallery-02.jpg">
                            <img src="../../img/share-gallery/share-gallery-02.jpg" alt="Funiro funiture in the client apartments" width="451" height="312" loading="lazy" />
                        </a>
                    </div>
                    <div class="share__row share__row_left-bottom">
                        <a class="share__item" href="../../img/share-gallery/share-gallery-03.jpg">
                            <img src="../../img/share-gallery/share-gallery-03.jpg" alt="Funiro funiture in the client apartments" width="381" height="323" loading="lazy" />
                        </a>
                        <a class="share__item" href="../../img/share-gallery/share-gallery-04.jpg">
                            <img src="../../img/share-gallery/share-gallery-04.jpg" alt="Funiro funiture in the client apartments" width="344" height="242" loading="lazy" />
                        </a>
                    </div>
                </div>
                <div class="share__column">
                    <div class="share__row share__row_center">
                        <a class="share__item" href="../../img/share-gallery/share-gallery-05.jpg">
                            <img src="../../img/share-gallery/share-gallery-05.jpg" alt="Funiro funiture in the client apartments" width="295" height="392" loading="lazy" />
                        </a>
                    </div>
                </div>
                <div class="share__column">
                    <div class="share__row share__row_right-top">
                        <a class="share__item" href="../../img/share-gallery/share-gallery-06.jpg">
                            <img src="../../img/share-gallery/share-gallery-06.jpg" alt="Funiro funiture in the client apartments" width="290" height="348" loading="lazy" />
                        </a>
                        <a class="share__item" href="../../img/share-gallery/share-gallery-07.jpg">
                            <img src="../../img/share-gallery/share-gallery-07.jpg" alt="Funiro funiture in the client apartments" width="425" height="433" loading="lazy" />
                        </a>
                    </div>
                    <div class="share__row share__row_right-bottom">
                        <a class="share__item" href="../../img/share-gallery/share-gallery-08.jpg">
                            <img src="../../img/share-gallery/share-gallery-08.jpg" alt="Funiro funiture in the client apartments" width="178" height="242" loading="lazy" />
                        </a>
                        <a class="share__item" href="../../img/share-gallery/share-gallery-09.jpg">
                            <img src="../../img/share-gallery/share-gallery-09.jpg" alt="Funiro funiture in the client apartments" width="258" height="196" loading="lazy" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
